* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-purple: #4F2DBD;
  --dark-purple: #17104F;
  --hover-purple: #351D82;
  --page-background: #FAFAFE;
  --border-thin: 1px solid rgba(211, 210, 210, 0.4);
  --border-radius: 0.4rem;
  --green-main: #39854f;
  --green-bg: #d0e9d6;
  --orange-main: #fa6142;
  --orange-bg: #fcdac7;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--page-background);
}

/* sidebar style */
.sidebar {
  background-color: var(--dark-purple);
  color: white;
  height: 100vh;
  width: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.system-title-sidebar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.title-logo {
  height: 50px;
  filter: brightness(0) invert(1);
}

.system-title {
  font-size: 0.8rem;
}

.navigation-links {
  width: 100%;
}

.navigation-links a {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  padding: 1rem;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.navigation-links a:hover {
  background-color: var(--hover-purple);
}

.navigation-links img {
  width: 1.563rem;
  height: 1.563rem;
}

/*Dashbaord styling*/
.dashboard-stats{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.transaction {
  margin: 1rem 0;
}

.total-item {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.total-item p {
  font-size: 1.2rem;
  line-height: 1.7;
}

.total-item span {
  font-size: 1.6rem;
  font-weight:700;
}

.total-books-icon,
.total-members-icon,
.total-borrowed-icon {
  width: 5.375rem;
  height: 5.375rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-books-icon {
  background-color: var(--primary-purple);
}

.total-members-icon {
  background-color: green;
}

.total-borrowed-icon {
  background-color: orange;
}

.total-item img {
  height: 50px;
  width: 50px;
}

#view-all {
  justify-content: end;
}

#view-all a{
  text-decoration: none;
  color: var(--primary-purple);
  font-weight: 600;
}

#view-all > div {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/*Book page styling */
.content {
  padding: 1rem 10rem;
  width: 90%;
}

.dashboard-container,
.book-container,
.member-container,
.transaction-container {
  display: flex;
  flex-direction: row;
}

.dashboard-title,
.add-book,
.add-member,
.borrow-book {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 0 1rem;
}

/*this is modal styling*/
dialog {
  border:none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--page-background);
}

.modal-submit, 
.modal-cancel {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  transition: all 0.5s ease;
}

.modal-submit {
  background-color: var(--primary-purple);
  color: white;
}

.modal-submit:hover {
  background-color: var(--hover-purple);
}

.modal-cancel {
  background-color: #36454F;
  color: white;
}

.modal-cancel:hover {
  background-color: #4d6270;
}

#open-add-book-modal-btn,
#open-add-member-modal-btn,
#open-borrow-book-modal-btn {
  border: none;
  background-color: var(--primary-purple);
  color:white;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  transition: all 0.5s ease;
}

#open-add-book-modal-btn:hover,
#open-add-member-modal-btn:hover,
#open-borrow-book-modal-btn:hover {
  background-color: var(--hover-purple);
}

#add-book-modal,
#edit-book-modal,
#add-member-modal,
#edit-member-modal,
#borrow-book-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  padding: 1rem;
  text-align:center;
}

#add-book-modal h1,
#edit-book-modal h1,
#add-member-modal h1,
#edit-member-modal h1,
#borrow-book-modal h1{
  padding: 1rem 0.5rem;
}

.modal-information {
  width: 100%;
}

.modal-information > div {
  margin: 1rem 0;
}

.modal-information div > * {
  margin: 0.5rem;
}

.modal-input {
  text-align:left;
}

/*table section styling */

.table-section {
  background-color: white;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.table-section table {
  width:100%;
  border-collapse: collapse;
}

.table-section h2 {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

tr {
  text-align: left;
}

table thead tr:first-child {
  background-color: var(--page-background);
}

th,
td {
  padding: 1rem;
}

td {
  border-bottom: 1px solid rgba(211, 210, 210, 0.4);
}

#books-table-body td:last-child,
#member-table-body td:last-child,
#transaction-table-body td:last-child {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

#books-table-body td:last-child button,
#member-table-body td:last-child button {
  background: none;
  border: none;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}

#books-table-body td:last-child button:hover,
#member-table-body td:last-child button:hover {
  border: 1px solid var(--primary-purple);
}

.return-book {
  background: none;
  border: none;
  color: white;
  background-color: var(--primary-purple);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  transition: all 0.5s ease;
}

.return-book:hover {
  background-color: var(--hover-purple);
}

.delete-book {
  background: none;
  border:none;
  filter: brightness(50%);
  border: 1px solid transparent;
  transition: all 0.5s ease;
}

.delete-book:hover {
  border: 1px solid var(--primary-purple);
}

#books-table-body td:last-child img,
#member-table-body td:last-child img,
#transaction-table-body td:last-child img {
  filter: brightness(50%);
}

.table-action {
  width: 10%;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.entries {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entries div img {
  transition: all 0.5s ease;
}

.entries div:hover img{
  filter: brightness(0) !important;
}

.entries img {
  padding-right: 5.4rem;
}

.pagination {
  display:flex;
  flex-direction: row;
  list-style: none;
}

.pagination li a {
  text-decoration: none;
  display:block;
  padding: 0.5rem 0.8rem;
  color:black;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.pagination li a:hover {
  color: var(--primary-purple);
}

.pagination a.active {
  background-color: var(--primary-purple);
  color:white !important;
}

.navigation-links a.active {
  background-color: var(--primary-purple);
}

input,
select {
  border-radius: var(--border-radius);
  border: var(--border-thin);
}

input[type="text"],
input[type="number"],
input[type="email"],
.modal-category {
  padding: 0.5rem;
  width: 40ch;
}

select {
  padding: 0.4rem;
}

.status {
  display: inline-block;
  padding: 0.35rem 0.75rem;
  border-radius: var(--border-radius);
  text-transform: capitalize;
}

.borrowed {
  background-color: var(--orange-bg);
  color: var(--orange-main);
}

.returned {
  background-color: var(--green-bg);
  color: var(--green-main);
}

button:hover,
select:hover {
  cursor: pointer;
}
