* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-purple: #4F2DBD;
  --dark-purple: #17104F;
  --page-background: #FAFAFE;
  --border-radius: 0.4rem;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--page-background);
}

/* sidebar style */
.sidebar {
  background-color: var(--dark-purple);
  color: white;
  height: 100vh;
  width: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.system-title-sidebar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.title-logo {
  height: 50px;
  filter: brightness(0) invert(1);
}

.system-title {
  font-size: 0.8rem;
}

.navigation-links {
  width: 100%;
}

.navigation-links a {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  padding: 1rem;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.navigation-links a:hover {
  background-color: var(--primary-purple);
}

.navigation-links img {
  width: 1.563rem;
  height: 1.563rem;
}

/*Book page styling */
.content {
  padding: 1rem 2.5rem;
  width: 90%;
}

.book-container {
  display: flex;
  flex-direction: row;
}

.add-book {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

/*this is inside book page Modal styling*/
dialog {
  border:none;
  outline: none;
}

#add-book-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  padding: 1rem;
  text-align:center;
}

#add-book-modal h1{
  margin: 1rem 0.5rem;
}

.modal-information {
  width: 100%;
}

.modal-information > div {
  margin: 1rem 0;
}

.modal-information div > * {
  margin: 0.5rem;
}

.modal-input {
  text-align:left;
}

/*table section styling */
.table-section {
  background-color: white;
  padding: 1rem;
}

.table-section table {
  width:100%;
  border-collapse: collapse;
}

tr {
  text-align: left;
}

tr:first-child {
  background-color: var(--page-background);
}

th,
td {
  padding: 1rem;
}

td {
  border-bottom: 1px solid black;
}

.table-title {
  width: 20%;
}

.table-action {
  width: 10%;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.entries {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  display:flex;
  flex-direction: row;
  list-style: none;
}

.pagination li a {
  text-decoration: none;
  display:block;
  padding: 0.5rem 0.9rem;
  color:black;
}

.active {
  background-color: var(--primary-purple);
  color:white !important;
  border-radius: var(--border-radius);
}

input[type="text"],
input[type="number"],
.modal-category {
  padding: 0.5rem;
  width: 40ch;
}

select {
  padding: 0.4rem;
}

